// Default button

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 152px;
    padding: 12px 34px;
    border-radius: 10px;
    border: none;

    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    cursor: pointer;

    color: $primary-dark-color;
}

// How it's made button (Maria)

.button-made {
    display: inline-block;
    padding: 10px 0;
    text-align: center;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: $accent-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: $button-hover-color;
    }

    &:focus {
        color: $primary-light-color;
    }

    &:disabled {
        color: $button-disable-color;
    }

    @media screen and (max-width: 1199px) {
        padding: 5px 0;

        font-size: 8px;
        line-height: 1.25;
    }
}

// Buy now button same for Our Locations and Read more (Maria, Serhii, Andrii)

.button-buynow,
.button-readmore,
.button-locations {
    @extend .button;
    background-color: $accent-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: $button-hover-color;
    }

    &:focus {
        color: $primary-light-color;
        background-color: $button-hover-color;
    }

    &:disabled {
        background-color: $button-disable-color;
    }
}

// Button Franchise (Serhii)

.button-franchise {
    @extend .button;
    background-color: transparent;
    border: 2px solid $accent-color;
    padding: 10px 46px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        border-color: $button-hover-color;
    }

    &:focus {
        color: $primary-light-color;
        border-color: $button-hover-color;
    }

    &:disabled {
        border-color: $button-disable-color;
    }
}

// Products button (Maria)

.button-products {
    @extend .button-franchise;
    padding: 10px 34px;
    text-decoration: none;

    @media screen and (max-width: 1199px) {
        min-width: 62px;
        padding: 5px 10px;
        border-radius: 8px;

        font-size: 8px;
        line-height: 1.25;
    }
}

// Up button

#go-top {
    position: fixed;
    text-align: center;
    cursor: pointer;
    display: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    background: $accent-color;

    transition: background 250ms linear, color 250ms linear;

    &:hover {
        background: rgba(0, 0, 0, 0.4);
        color: $primary-light-color;
    }

    @media screen and (max-width: 767px) {
        bottom: 15px;
        right: 15px;
    }

    @media screen and (min-width: 768px) {
        bottom: 30px;
        right: 30px;
    }

    @media screen and (min-width: 1200px) {
        bottom: 60px;
        right: 60px;
    }
}
