.ingredients__image-wrapper {
    position: relative;
    width: 131px;
    height: 131px;
    margin: 22px auto 0;
}
.ingredients__image {
    position: absolute;
    z-index: 100;
    max-width: 100%;
    border-radius: 50%;
    margin: auto;
}

.ingredients__circle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 7px;

    border-radius: 50%;
    background: linear-gradient(
            0deg,
            $product-opacity-green-background,
            $product-opacity-green-background
        ),
        #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px $modal-buy-now-img-shadow-top;
}

.ovals {
    @extend %list;
    display: flex;
    justify-content: center;
    gap: 9px;
    margin-top: 31px;
    @media screen and (min-width: 768px) {
        gap: 20px;
    }
}

.ovals__item {
    display: block;
    width: 53px;
    height: 72px;
    border-radius: 40px;
    border: 2px solid #9cbe8f;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 768px) {
        width: 65px;
        height: 90px;
    }
}
.ovals__ball {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin: 0 auto;

    transform: translateY(-2px);
    background: #9cbe8f;
    border: 2px solid #9cbe8f;
    box-shadow: 0px 6px 20px $modal-buy-now-img-shadow-top;

    font-weight: 500;
    font-size: 10px;
    line-height: calc(28 / 10);
    vertical-align: bottom;

    @media screen and (min-width: 768px) {
        width: 53px;
        height: 53px;
        font-size: 12px;
        line-height: calc(28 / 12);
    }
}

.ovals__caption-wrapper {
    width: 100%;
    margin: 7px auto;
    padding: 0 7px;
}

.ovals__caption {
    font-size: 10px;
    line-height: calc(12 / 10);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: calc(15 / 12);
    }
}

.ingredients__subtitle {
    margin-top: 39px;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(28 / 20);

    text-align: center;
}

.ingredients__list {
    @extend %list;
    margin-top: 24px;
}

.ingredients__item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: calc(25 / 14);
    letter-spacing: 0.04em;

    &:not(:first-child) {
        margin-top: 11px;
    }
}

.ingredients__form {
    margin-top: 48px;
}
.ingredients__name {
    margin-top: 0;
}

.ingredients__textarea {
    height: 84px;
}
