<div class="modal" data-modal="2">
    <!-- close button -->
    <button class="modal__close-btn js-modal-close" type="button" id="modal-read-more-close">
        <svg class="modal__close-icon">
            <use class="modal-close__vector" href="./images/icons.svg#close-little"></use>
        </svg>
    </button>

    <!-- title -->
    <h2 class="modal__title">How it’s made?</h2>

    <iframe class="read-more__video" width="448" height="205" src="https://www.youtube.com/embed/80PZSyRRxow"
        title="А я вам сейчас покажу - Лукашенко | мем, прикол" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

    <p class="read-more__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
</div>