<section class="about section" id="how-made">
    <div class="about__container container">
        <p class="about__title-label">tradition and love</p>
        <h2 class="title title--darck about__title">how it’s made?</h2>
        <div class="about__flex-cont">
            <div class="about__img-bg">
                <img
                    class="about__img"
                    srcset="
                        ./images/about/cow-mb_278w.png 278w,
                        ./images/about/cow-mb_556w.png 556w,
                        ./images/about/cow-tb_335w.png 335w,
                        ./images/about/cow-tb_670w.png 670w,
                        ./images/about/cow-dt_490w.png 490w,
                        ./images/about/cow-dt_980w.png 980w
                    "
                    sizes="(min-width: 1200px), (min-width: 768px), (min-width: 480px), 100vw"
                    src="./images/about/cow-mb_278w.png"
                    alt="корова пасеться на лугу"
                    loading="lazy"
                />
            </div>
            <div class="about__flex-cont about__flex-desc">
                <div class="about__desc-cont">
                    <p class="about__desc about__desc1">
                        Ice is a place where you will become not only a little
                        happier, but also healthier. Health is the main value
                        for us, and we follow it when creating our handmade
                        desserts.
                    </p>
                    <p class="about__desc about__desc2">
                        We use traditional recipes and 100% natural ingredients.
                        Our products are so natural that they can be given to
                        children from the age of three years. Sweets lovers can
                        expect 55 types of ice cream, 15 types of coffee and 23
                        milkshakes.
                    </p>
                    <p class="about__desc about__desc3">
                        This is enough to choose ice cream and coffee for any
                        mood!
                    </p>
                </div>
                <button
                    class="button-buynow about__btn button--arrow js-open-modal"
                    data-modal="2"
                    type="button"
                    id="modal-read-me-open"
                >
                    Read more
                </button>
            </div>
        </div>
    </div>
</section>
