<section class="about section">
  <div class="container">
    <h2 class="title title--darck about__title">how it’s made?</h2>
    <div class="about__img-bg">
      <picture class="about__picture">
        <source
          media="(min-width: 1200px)"
          srcset="./images/cow-dt@1x.jpg 1x, ./images/cow-dt@2x.jpg 2x"
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/cow-tb@1x.jpg 1x, ./images/cow-tb@2x.jpg 2x"
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="./images/cow-mb@1x.jpg 1x, ./images/cow-mb@2x.jpg 2x"
          type="image/jpg"
        />
        <img
          class="about__img"
          src="./images/cow-mb@1x.jpg"
          alt="корова пасеться на лугу"
          width="278"
          height="278"
          loading="lazy"
        />
      </picture>
    </div>
    <p class="about__desc">
      Ice is a place where you will become not only a little happier, but also
      healthier. Health is the main value for us, and we follow it when creating
      our handmade desserts.
    </p>
    <p class="about__desc">
      We use traditional recipes and 100% natural ingredients. Our products are
      so natural that they can be given to children from the age of three years.
      Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
      milkshakes.
    </p>
    <button class="button button-buynow about__btn" type="button">
      Read more
    </button>
  </div>
</section>
