<section class="advantages">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="grid advantages__grid">
            <li class="grid__item advantages__item">
                <p class="advantages__data">721</p>
                <p class="advantages__desc">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="grid__item advantages__item">
                <p class="advantages__data">16kg</p>
                <p class="advantages__desc">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="grid__item advantages__item">
                <p class="advantages__data">84</p>
                <p class="advantages__desc">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>
