<!-- section contacts -->
<section class="container contacts">
  <h2 class="visually-hidden">Our contacts</h2>

  <ul class="contacts-block">
    <li class="contacts-cards">
      <ul>
        <li class="contacts-cards__divide">
          <p class="contacts-cards__shoptype">Cafe</p>
          <p class="contacts-cards__city">Chicago</p>
          <address class="contacts-cards__adress">
            <a class="contacts-cards__adress-link" href="http://" target="_blank" rel="noopener noreferrer">10340
              Ridgeland Ave, Chicago Ridge, IL 60415, USA
            </a>
          </address>
        </li>
        <li class="contacts-cards__divide">
          <p class="contacts-cards__day">Monday - Friday</p>
          <time class="contacts-cards__time">06:00 AM - 10:00 PM</time>
          <p class="contacts-cards__day">Saturday - Sunday</p>
          <time class="contacts-cards__time">08:00 AM - 16:00 PM</time>
        </li>
        <li class="contacts-cards__divide">
          <a class="contacts-cards__telmail" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contacts-cards__telmail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </li>
    <li class="contacts-cards">
      <ul>
        <li class="contacts-cards__divide">
          <p class="contacts-cards__shoptype">Foodtruck</p>
          <p class="contacts-cards__city">Los Angeles</p>
          <address class="contacts-cards__adress">
            <a class="contacts-cards__adress-link" href="http://" target="_blank" rel="noopener noreferrer">1003
              Manhattan Ave, Manhattan Beach, CA 90263, USA
            </a>
          </address>
        </li>
        <li class="contacts-cards__divide">
          <p class="contacts-cards__day">Monday - Friday</p>
          <time class="contacts-cards__time">06:00 AM - 10:00 PM</time>
          <p class="contacts-cards__day">Saturday - Sunday</p>
          <time class="contacts-cards__time">08:00 AM - 16:00 PM</time>
        </li>
        <li class="contacts-cards__divide">
          <a class="contacts-cards__telmail" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contacts-cards__telmail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </li>
    <li class="contacts-cards">
      <ul>
        <li class="contacts-cards__divide">
          <p class="contacts-cards__shoptype">Cafe</p>
          <p class="contacts-cards__city">New York</p>
          <address class="contacts-cards__adress">
            <a class="contacts-cards__adress-link" href="http://" target="_blank" rel="noopener noreferrer">726 Sterling
              Pl, Brooklyn, NY 11222, USA
            </a>
          </address>
        </li>
        <li class="contacts-cards__divide">
          <p class="contacts-cards__day">Monday - Friday</p>
          <time class="contacts-cards__time">06:00 AM - 10:00 PM</time>
          <p class="contacts-cards__day">Saturday - Sunday</p>
          <time class="contacts-cards__time">08:00 AM - 16:00 PM</time>
        </li>
        <li class="contacts-cards__divide">
          <a class="contacts-cards__telmail" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contacts-cards__telmail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </li>
  </ul>
</section>