<!-- section contacts -->
<section class="contacts" id="contacts">
    <div class="container">
        <h2 class="visually-hidden">Our contacts</h2>

        <ul class="contacts-block">
            <li class="contacts-cards">
                <ul>
                    <li class="contacts-cards__divide">
                        <p class="contacts-cards__shoptype">Cafe</p>
                        <p class="contacts-cards__city">Chicago</p>
                        <address class="contacts-cards__adress">
                            <a class="contacts-cards__adress-link" href="https://goo.gl/maps/iv8kVTEuQ6dEVJHU6"
                                target="_blank" rel="noopener noreferrer nofollow">10340 Ridgeland Ave, Chicago Ridge,
                                IL 60415,
                                USA
                            </a>
                        </address>
                    </li>
                    <li class="contacts-cards__divide">
                        <p class="contacts-cards__day">Monday - Friday</p>
                        <p class="contacts-cards__time">06:00 AM - 10:00 PM</p>
                        <p class="contacts-cards__day">Saturday - Sunday</p>
                        <p class="contacts-cards__time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts-cards__divide">
                        <a class="contacts-cards__telmail" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        <a class="contacts-cards__telmail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts-cards">
                <ul>
                    <li class="contacts-cards__divide">
                        <p class="contacts-cards__shoptype">Foodtruck</p>
                        <p class="contacts-cards__city">Los Angeles</p>
                        <address class="contacts-cards__adress">
                            <a class="contacts-cards__adress-link" href="https://goo.gl/maps/JjWypNFix341wyZm6"
                                target="_blank" rel="noopener noreferrer nofollow">1003 Manhattan Ave, Manhattan Beach,
                                CA 90263,
                                USA
                            </a>
                        </address>
                    </li>
                    <li class="contacts-cards__divide">
                        <p class="contacts-cards__day">Monday - Friday</p>
                        <p class="contacts-cards__time">06:00 AM - 10:00 PM</p>
                        <p class="contacts-cards__day">Saturday - Sunday</p>
                        <p class="contacts-cards__time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts-cards__divide">
                        <a class="contacts-cards__telmail" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        <a class="contacts-cards__telmail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts-cards">
                <ul>
                    <li class="contacts-cards__divide">
                        <p class="contacts-cards__shoptype">Cafe</p>
                        <p class="contacts-cards__city">New York</p>
                        <address class="contacts-cards__adress">
                            <a class="contacts-cards__adress-link" href="https://goo.gl/maps/kdFV8Q1h8DEaW2M59"
                                target="_blank" rel="noopener noreferrer nofollow">726 Sterling Pl, Brooklyn, NY 11222,
                                USA
                            </a>
                        </address>
                    </li>
                    <li class="contacts-cards__divide">
                        <p class="contacts-cards__day">Monday - Friday</p>
                        <p class="contacts-cards__time">06:00 AM - 10:00 PM</p>
                        <p class="contacts-cards__day">Saturday - Sunday</p>
                        <p class="contacts-cards__time">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts-cards__divide">
                        <a class="contacts-cards__telmail" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        <a class="contacts-cards__telmail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="contacts-button">
            <button type="button" class="button-buynow js-open-modal" data-modal="3" id="modal-location-open">
                Our Locations
                <svg class="button-icon" width="12" height="12">
                    <use href="./images/icons.svg#arrow-little"></use>
                </svg>
            </button>

            <button type="button" class="button-franchise js-open-modal" data-modal="4" id="modal-franchise-open">
                Franchise
                <svg class="button-icon" width="12" height="12">
                    <use href="./images/icons.svg#arrow-little"></use>
                </svg>
            </button>
        </div>
    </div>
</section>