<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <div>
                <p class="footer__title-first">Homemade ice cream made</p>
                <p class="footer__title-second">With passion</p>
            </div>

            <div class="footer__contacts">
                <ul class="footer__social">
                    <li>
                        <a
                            class="footer__social-link"
                            href="https://github.com/"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                        >
                            <svg
                                class="footer__social-svg"
                                width="32"
                                height="32"
                                aria-label="Link to Github"
                            >
                                <use
                                    href="./images/icons.svg#icon-github"
                                ></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a
                            class="footer__social-link"
                            href="https://telegram.org/"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                        >
                            <svg
                                class="footer__social-svg"
                                width="32"
                                height="32"
                                aria-label="Link to Telegram"
                            >
                                <use
                                    href="./images/icons.svg#icon-telegram"
                                ></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a
                            class="footer__social-link"
                            href="https://www.facebook.com/"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                        >
                            <svg
                                class="footer__social-svg"
                                width="32"
                                height="32"
                                aria-label="Link to Facebook"
                            >
                                <use
                                    href="./images/icons.svg#icon-facebook"
                                ></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="footer__text">
                    Feel free to contact
                    <a class="footer__tel" href="tel:+61(0)383766284"
                        >+61 (0) 383 766 284</a
                    >
                </p>
            </div>
        </div>
    </div>

    <!-- Line non container -->
    <div class="footer__line"></div>

    <div class="container footer__copyright-container">
        <p class="footer__copyright">
            &#169; 2022 - IceCream. All Rights Reserved.
        </p>
    </div>
</footer>
