<section class="gallery">
    <div class="container">

<h2 class="visually-hidden">gallery</h2>
<div class="gallery__item">
  <div class="slider">
    <ul class="slider-list">
      <li>
    <picture class="gallery__picture">
        <source media="(min-width: 1200px)" srcset="./images/berries-ice-cream/berries-ice-cream-desktop/berries-ice-cream-dt@1x.png 1x, ./images/berries-ice-cream/berries-ice-cream-desktop/berries-ice-cream-dt@2x.png 2x">
        <source media="(min-width: 768px)" srcset="./images/berries-ice-cream/berries-ice-cream-tablet/berries-ice-cream-tb@1x.png 1x, ./images/berries-ice-cream/berries-ice-cream-tablet/berries-ice-cream-tb@2x.png 2x">
        <source media="(max-width: 767px)" srcset="./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@1x.png 1x, ./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@2x.png 2x">
        <img class="gallery__img" src="./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@1x.png" alt="изображени-1" loading="lazy">
      </picture>
    </li>
    <li>
      <picture class="gallery__picture">
        <source media="(min-width: 1200px)" srcset="./images/berries-ice-cream/berries-ice-cream-desktop/berries-ice-cream-dt@1x-1.png 1x, ./images/berries-ice-cream/berries-ice-cream-desktop/berries-ice-cream-dt@2x-1.png 2x">
        <source media="(min-width: 768px)" srcset="./images/berries-ice-cream/berries-ice-cream-tablet/berries-ice-cream-tb@1x-1.png 1x, ./images/berries-ice-cream/berries-ice-cream-tablet/berries-ice-cream-tb@2x-1.png 2x">
        <source media="(max-width: 767px)" srcset="./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@1x-1.png 1x, ./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@2x-1.png 2x">
        <img class="gallery__img" src="./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@1x-1.png" alt="изображени-2" loading="lazy">
      </picture>
    </li>
    <li>
      <picture class="gallery__picture">
        <source media="(min-width: 1200px)" srcset="./images/berries-ice-cream/berries-ice-cream-desktop/berries-ice-cream-dt@1x-2.png 1x, ./images/berries-ice-cream/berries-ice-cream-desktop/berries-ice-cream-dt@2x-2.png 2x">
        <source media="(min-width: 768px)" srcset="./images/berries-ice-cream/berries-ice-cream-tablet/berries-ice-cream-tb@1x-2.png 1x, ./images/berries-ice-cream/berries-ice-cream-tablet/berries-ice-cream-tb@2x-2.png 2x">
        <source media="(max-width: 767px)" srcset="./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@1x-2.png 1x, ./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@2x-2.png 2x">
        <img class="gallery__img" src="./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@1x-2.png" alt="изображени-3" loading="lazy">
      </picture>
    </li>
    <li>
      <picture class="gallery__picture">
        <source media="(min-width: 1200px)" srcset="./images/berries-ice-cream/berries-ice-cream-desktop/berries-ice-cream-dt@1x-3.png 1x, ./images/berries-ice-cream/berries-ice-cream-desktop/berries-ice-cream-dt@1x-3.png 2x">
        <source media="(min-width: 768px)" srcset="./images/berries-ice-cream/berries-ice-cream-tablet/berries-ice-cream-tb@1x-3.png 1x, ./images/berries-ice-cream/berries-ice-cream-tablet/berries-ice-cream-tb@2x-3.png 2x">
        <source media="(max-width: 767px)" srcset="./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@1x-3.png 1x, ./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@2x-3.png 2x">
        <img class="gallery__img" src="./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@1x-3.png" alt="изображени-4" loading="lazy">
      </picture>
    </li>
    <li>
      <picture class="gallery__picture">
        <source media="(min-width: 1200px)" srcset="./images/berries-ice-cream/berries-ice-cream-desktop/berries-ice-cream-dt@1x-4.png 1x, ./images/berries-ice-cream/berries-ice-cream-desktop/berries-ice-cream-dt@2x-4.png 2x">
        <source media="(min-width: 768px)" srcset="./images/berries-ice-cream/berries-ice-cream-tablet/berries-ice-cream-tb@1x-4.png 1x, ./images/berries-ice-cream/berries-ice-cream-tablet/berries-ice-cream-tb@2x-4.png 2x">
        <source media="(max-width: 767px)" srcset="./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@1x-4.png 1x, ./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@2x-4.png 2x">
        <img class="gallery__img" src="./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@1x-4.png" alt="изображени-5" loading="lazy">
      </picture>
    </li>
    </ul>
</div>
  </div>

    </div>
</section>
