<section class="gallery">
    <div class="container">
        <h2 class="visually-hidden">gellery</h2>
        <div class="gallery__item">
            <picture class="gallery__picture">
                <source
                    media="(min-width: 1200px)"
                    srcset="
                        ./images/berries-ice-cream/berries-ice-cream-desktop/berries-ice-cream-dt@1x.png 1x,
                        ./images/berries-ice-cream/berries-ice-cream-desktop/berries-ice-cream-dt@2x.png 2x
                    "
                    type="image/jpg"
                />
                <source
                    media="(min-width: 768px)"
                    srcset="
                        ./images/berries-ice-cream/berries-ice-cream-tablet/berries-ice-cream-tb@1x.png 1x,
                        ./images/berries-ice-cream/berries-ice-cream-tablet/berries-ice-cream-tb@2x.png 2x
                    "
                    type="image/jpg"
                />
                <source
                    media="(max-width: 767px)"
                    srcset="
                        ./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@1x.png 1x,
                        ./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@2x.png 2x
                    "
                    type="image/jpg"
                />
                <img
                    class="gallery__img"
                    src="./images/berries-ice-cream/berries-ice-cream-mobile/berries-ice-cream-mb@1x.png"
                    alt="gallery"
                    loading="lazy"
                />
            </picture>
        </div>
    </div>
</section>
