<section class="hero container">
    <h1 class="hero__title">
        ice cream made with <span class="hero__title--biger">passion</span>
    </h1>

    <a class="hero__btn button button-products" href="#products" type="button"
        >Products</a
    >
    <a href="#how-made" class="hero__link button-made">How it’s made?</a>

    <ul class="franchise__list">
        <li class="franchise__item">
            <p class="franchise__units">16</p>
            <p class="franchise__type">cafes</p>
        </li>
        <li class="franchise__item">
            <p class="franchise__units">23</p>
            <p class="franchise__type">food trucks</p>
        </li>
    </ul>
    <div class="details">
        <picture>
            <source
                srcset="
                    ./images/hero/plate-ice-cream-tablet/plate-ice-cream-tb@1x.png 1x,
                    ./images/hero/plate-ice-cream-tablet/plate-ice-cream-tb@2x.png 2x
                "
                media="(max-width: 1199px)"
                type="image/png"
            />
            <source
                srcset="
                    ./images/hero/plate-ice-cream-desktop/plate-ice-cream-dt@1x.png 1x,
                    ./images/hero/plate-ice-cream-desktop/plate-ice-cream-dt@2x.png 2x
                "
                media="(min-width:1200px)"
                type="image/png"
            />
            <img
                src="./images/hero/plate-ice-cream-desktop/plate-ice-cream-dt@1x.png"
                alt="plate ice-creams"
                loading="lazy"
            />
        </picture>
        <p class="details__dsc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
        </p>

        <details class="details--more-information">
            <summary>
                <svg width="40" height="16">
                    <use href="./images/icons.svg#white-arrow"></use>
                </svg>
            </summary>
            <p class="details__dsc--inside">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
                omnis ipsam soluta voluptate perferendis laudantium accusantium
                dolorem, necessitatibus blanditiis in? Placeat suscipit
                aspernatur magnam animi dolores repellendus ipsum debitis
                pariatur vero, eaque quibusdam!
            </p>
        </details>
    </div>
    <picture>
        <source
            srcset="
                ./images/hero/ice-cream-mobile/ice-cream-mb@1x.png 1x,
                ./images/hero/ice-cream-mobile/ice-cream-mb@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/png"
        />
        <source
            srcset="
                ./images/hero/ice-cream-tablet/ice-cream-tablet@1x.png,
                ./images/hero/ice-cream-tablet/ice-cream-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
        />
        <source
            srcset="
                ./images/hero/ice-cream-desktop/ice-cream-dt@1x.png,
                ./images/hero/ice-cream-desktop/ice-cream-dt@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
        />
        <img
            src="./images/hero/ice-cream-desktop/ice-cream-dt@1x.png"
            alt="big ice-cream"
            loading="lazy"
        />
    </picture>

    <picture>
        <source
            srcset="
                ./images/hero/mobile-dots/mobile-dots@1x.png 1x,
                ./images/hero/mobile-dots/mobile-dots@2x.png 2x
            "
            media="(max-width:767px)"
            type="image/png"
        />
        <source
            srcset="
                ./images/hero/tablet-dots/tablet-dots@1x.png 1x,
                ./images/hero/tablet-dots/tablet-dots@2x.png 2x
            "
            media="(max-width: 1199px)"
            type="image/png"
        />
        <source
            srcset="
                ./images/hero/desktop-dots/desktop-dots@1x.png 1x,
                ./images/hero/desktop-dots/desktop-dots@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
        />
        <img
            src="./images/hero/desktop-dots/desktop-dots@1x.png"
            alt="points"
            loading="lazy"
        />
    </picture>
</section>
