<section class="section" id="products">
    <div class="container products__container">
        <p class="products__label">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__item">
                <div class="products__backing"></div>
                <h3 class="products__name">ice cream</h3>
                <p class="products__text">
                    Soft ice cream with a delicate taste. Made with milk, cream,
                    sugar and natural stabilizer
                </p>
                <button type="button" class="products-button js-open-modal" data-modal="5"
                    id="modal-ingredients-top-open">
                    <svg class="products-button__icon" width="40" height="16">
                        <use href="./images/icons.svg#arrow-button-default"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item products__item--yellow">
                <div class="products__backing products__backing--yellow"></div>
                <h3 class="products__name">ice coffee</h3>
                <p class="products__text products__text--margin-yellow">
                    Fragrant invigorating drink created from 100% natural
                    ingredients without the use of preservatives and flavor
                    enhancers
                </p>
                <button type="button" class="products-button js-open-modal" data-modal="5"
                    id="modal-ingredients-mid-open">
                    <svg class="products-button__icon" width="40" height="16">
                        <use href="./images/icons.svg#arrow-button-default"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item products__item--brown">
                <div class="products__backing products__backing--brown"></div>
                <h3 class="products__name">milkshakes</h3>
                <p class="products__text products__text--margin-brown">
                    Sweet drinks based on milk and ice cream, supplemented with
                    syrups, fruits, berries and other sweets of your choice
                </p>
                <button type="button" class="products-button js-open-modal" data-modal="5"
                    id="modal-ingredients-bot-open">
                    <svg class="products-button__icon" width="40" height="16">
                        <use href="./images/icons.svg#arrow-button-default"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>