.contacts {
    @media screen and (max-width: 767px) {
        background: linear-gradient(
            transparent 0%,
            transparent 25%,
            $primary-background-color 25%
        );
    }

    @media screen and (min-width: 768px) {
        background: linear-gradient(
            transparent 0%,
            transparent 50%,
            $primary-background-color 50%
        );
    }

    @media screen and (min-width: 1200px) {
        background: linear-gradient(
            transparent 0%,
            transparent 15%,
            $primary-background-color 15%
        );
    }
}

.contacts-block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 16px;
    }

    @media screen and (min-width: 1200px) {
        gap: 32px;
    }
}

.contacts-cards {
    @extend %list;

    padding: 40px 32px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;

    background-color: $primary-light-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @media screen and (min-width: 768px) {
        width: 224px;
        padding: 40px 24px;
        font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
        width: 368px;
        padding: 40px;
        font-size: 16px;
    }
}

.contacts-cards__divide {
    @extend %list;

    &:not(:first-child) {
        padding-top: 24px;
        border-top: 1px solid $lines-color;
    }

    &:not(:last-child) {
        padding-bottom: 24px;
    }

    &:nth-child(1) {
        letter-spacing: 0.04em;
    }

    @media screen and (min-width: 768px) {
        &:not(:first-child) {
            padding-top: 32px;
        }

        &:not(:last-child) {
            padding-bottom: 32px;
        }
    }
}

.contacts-cards__shoptype {
    display: inline;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;

    text-transform: uppercase;

    background-color: $accent-color;

    @media screen and (min-width: 768px) {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 5px;
        padding-bottom: 5px;

        font-size: 16px;
    }
}

.contacts-cards__city {
    margin-top: 20px;

    @media screen and (min-width: 768px) {
        margin-top: 32px;
    }
}

.contacts-cards__adress {
    margin-top: 8px;

    @media screen and (min-width: 768px) {
        margin-top: 12px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 8px;
    }
}

.contacts-cards__adress-link {
    @extend %link;

    line-height: 1.83;

    font-style: normal;
    color: $product-red-background;

    @media screen and (min-width: 1200px) {
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.contacts-cards__day {
    &:not(:first-child) {
        margin-top: 8px;
    }

    @media screen and (min-width: 768px) {
        &:not(:first-child) {
            margin-top: 12px;
        }
    }
}

.contacts-cards__time {
    color: $secondary-light-color;

    @media screen and (min-width: 768px) {
        color: $contacts-time-color;
    }

    @media screen and (min-width: 1200px) {
        color: $secondary-light-color;
    }
}

.contacts-cards__telmail {
    @extend %link;

    display: block;
    line-height: 1.5;

    @media screen and (min-width: 768px) {
        line-height: 1.83;
    }
}

.contacts-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    margin-top: 32px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        margin-top: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 64px;
    }
}

.button-icon {
    margin-left: 6px;
    stroke: $primary-dark-color;
}
