.gallery__img{
    margin: auto;
  }

.gallery {
  @media screen and (max-width: 767px) {
    background-image: linear-gradient($primary-background-color 25%,
          $primary-light-color 25% 100%);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient($primary-background-color 50%,
        $primary-light-color 50% 100%);
  }

  @media screen and (min-width: 1200px){
    background-image: linear-gradient($primary-background-color 20%,
        rgba(255, 255, 255, 0) 0% 100%);
  }

}