.hero {
    position: relative;

    @media screen and (max-width: 767px) {
        height: 392px;

    }

    @media screen and (min-width: 768px) {
        height: 343px;
        padding-top: 10px;

    }

    @media screen and (min-width: 1200px) {
        height: 590px;


    }
}

/* якщо використовувати через background-image*/

.hero-overlay {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    background-size: cover;
    background-position: 0 100%;
    background-repeat: no-repeat;

    @media screen and(max-width:767px) {
        background-size: 328px 50px;
        background-image: linear-gradient($primary-background-color,
                image-set(url('../images/hero/mobile-dots/mobile-dots@1x.png') 1x,
                    url('../images/hero/mobile-dots/mobile-dots@2x.png') 2x));
    }

    @media screen and(min-width:768px) {
        background-size: 768px 67px;
        background-image: linear-gradient($primary-background-color,
                image-set(url('../images/hero/tablet-dots/tablet-dots@1x.png') 1x,
                    url('../images/hero/tablet-dots/tablet-dots@2x.png') 2x));
    }

    @media screen and(min-width:1200px) {
        background-size: 1200px 384px;
        background-image: linear-gradient($primary-background-color,
                image-set(url('../images/hero/desktop-dots/desktop-dots@1x.png') 1x,
                    url('../images/hero/desktop-dots/desktop-dots@2x.png') 2x));
    }
}

.main-content {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.hero__title {
    margin-bottom: 32px;

    width: 247px;

    font-family: $secondary-font;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.27;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primary-light-color;

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;

        width: 181px;
        font-size: 18px;
        line-height: 1.28;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 28px;

        width: 367px;
        font-size: 38px;
        line-height: 1.26;
    }
}

.hero__title--biger {
    font-size: 34px;
    line-height: .965;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: .55;
    }

    @media screen and (min-width: 1200px) {
        font-size: 38px;
        line-height: 1.26;
    }
}

.hero__btn {
    @extend %link;

    @media screen and (max-width: 1199px) {
        margin-right: 8px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 12px;
    }
}

.hero__link {
    color: $accent-color;
}

/*===== franchise =====*/

.franchise__list {
    @extend %list;
    text-align: right;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.franchise__item {
    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 16px;
    }
}

.franchise__units {
    color: $primary-dark-color;
    font-weight: 900;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 1.21;
    }

    @media screen and (min-width: 1200px) {
        font-size: 46px;
        line-height: 1.22;
    }
}

.franchise__type {
    font-weight: 400;
    color: $primary-light-color;

    @media screen and (min-width: 768px) {

        font-size: 8px;
        line-height: 1.25;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.21;
    }
}

/*===== END franchise =====*/

/*===== details =====*/
.details {
    position: absolute;

    display: inline-flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        bottom: 11px;
        left: 32px;
    }

    @media screen and (min-width: 1200px) {
        bottom: 57px;
        left: 20px;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.details__img {
    @media screen and (min-width: 768px) {
        margin-right: 33px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 14px;
    }
}

.details__paragraph {
    @media screen and (min-width: 1200px) {
        margin-top: 35px;
    }
}

.details__dsc {
    font-weight: 400;
    color: $primary-light-color;
    line-height: 1.4;

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
        width: 151px;

        font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 32px;
        width: 200px;

        font-size: 14px;
    }
}

summary {
    color: transparent;
}

.details--more-information {
    position: relative;
}


.details--arrow {
    position: absolute;
    left: 0;

    transform: translateX(0);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        transform: translateX(30%);
    }
}

.details__dsc--inside {
    position: absolute;
    left: 55px;
    top: -15px;
    z-index: 15;
    padding: 5px;

    font-weight: 400;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
    background-color: #f8d34eae;
    color: $primary-dark-color;
    line-height: 1.4;

    @media screen and (min-width: 768px) {
        width: 380px;

        font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
        width: 350px;

        font-size: 14px;
    }
}

/*===== END details =====*/

/*===== picture =====*/

.big-ice-cream {
    position: absolute;
    z-index: 10;
    bottom: 0;

    @media screen and (max-width: 767px) {
        left: 90px;
    }

    @media screen and (min-width: 768px) {
        left: 418px;
    }

    @media screen and (min-width: 1200px) {
        left: 651px;
    }
}

/*
якщо використувувати зображення з абсолютним позиціонуванням
*/
/*.dots__img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;


    @media screen and (max-width: 768px) {
        min-width: 328px;
        height: 50px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        height: 67.23px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        height: 384px;
    }
} */


/*===== END picture =====*/