.products__container {
    @media (min-width: 1200px) {
        padding-inline: 12px;
    }
}
.products__label {
    margin-bottom: 12px;
    font-family: $primary-font;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 768px) {
        font-size: 22px;
    }

    @media (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.23;
    }
}
.products__title {
    margin-bottom: 148px;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @media (min-width: 768px) {
        font-size: 34px;
        margin-bottom: 200px;
    }

    @media (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.25;
        margin-bottom: 303px;
    }
}
.products__list {
    @extend %list;

    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    @media (min-width: 1200px) {
        gap: 32px;
    }
}
.products__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 123px;
    padding-inline: 40px;
    padding-bottom: 10px;

    background-color: #aec6a5;
    border-radius: 24px;

    &--yellow {
        background-color: #efd478;
    }

    &--brown {
        background-color: #d6936d;
    }

    @media (min-width: 768px) {
        width: 224px;
        padding-top: 125px;
        padding-inline: 26px;
    }

    @media (min-width: 1200px) {
        width: 370px;
        padding-top: 166px;
        padding-inline: 63px;
        padding-bottom: 50px;
    }
}
.products__item:not(:last-child) {
    @media (max-width: 767px) {
        margin-bottom: 164px;
    }
}

.products__backing {
    position: absolute;
    top: -92px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    // margin-bottom: 20px;

    background: linear-gradient(
            0deg,
            rgba(156, 190, 143, 0.7),
            rgba(156, 190, 143, 0.7)
        ),
        #d9d9d9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);

    &--yellow {
        background: linear-gradient(
                0deg,
                rgba(248, 210, 78, 0.7),
                rgba(248, 210, 78, 0.7)
            ),
            #d9d9d9;
        box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    }

    &--brown {
        background: linear-gradient(
                0deg,
                rgba(213, 117, 63, 0.7),
                rgba(213, 117, 63, 0.7)
            ),
            #d9d9d9;
        box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
    }

    @media (min-width: 1200px) {
        width: 300px;
        height: 300px;
        top: -167px;
    }
}
.products__backing::before {
    position: absolute;
    bottom: 11px;
    content: '';
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url(../images/products/mobile/mb-product@1x.png);
    z-index: 9;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/mobile/mb-product@2x.png);
    }

    @media (min-width: 1200px) {
        width: 300px;
        height: 300px;
        bottom: 17px;

        background-image: url(../images/products/desktop/dt-product@1x.png);

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/products/desktop/dt-product@2x.png);
        }
    }
}
.products__backing--yellow::before {
    background-image: url(../images/products/mobile/mb-product2@1x.png);

    background-size: cover;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/mobile/mb-product2@2x.png);
    }

    @media (min-width: 1200px) {
        background-image: url(../images/products/desktop/dt-product2@1x.png);

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/products/desktop/dt-product2@2x.png);
        }
    }
}
.products__backing--brown::before {
    background-image: url(../images/products/mobile/mb-product3@1x.png);

    background-size: cover;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/mobile/mb-product3@2x.png);
    }

    @media (min-width: 1200px) {
        background-image: url(../images/products/desktop/dt-product3@1x.png);

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../images/products/desktop/dt-product3@2x.png);
        }
    }
}

.products__name {
    margin-bottom: 40px;

    font-family: $primary-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @media (min-width: 768px) {
        font-size: 22px;
        line-height: 1.22;
    }

    @media (min-width: 1200px) {
        margin-bottom: 65px;
        font-size: 30px;
        line-height: 1.22;
    }
}
.products__text {
    margin-bottom: 102px;

    font-family: $primary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.76;
    text-align: center;
    letter-spacing: 0.04em;

    @media (min-width: 768px) {
        margin-bottom: 81px;
    }

    @media (min-width: 1200px) {
        font-size: 16px;
        margin-bottom: 83px;
    }
}
.products__text--margin-yellow {
    margin-bottom: 53px;

    @media (min-width: 768px) {
        margin-bottom: 31px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 55px;
    }
}

.products__text--margin-brown {
    margin-bottom: 53px;

    @media (min-width: 768px) {
        margin-bottom: 56px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 55px;
    }
}

.products-button {
    cursor: pointer;
    border: none;
    background-color: transparent;

    &__icon {
        max-width: 40px;
        max-height: 16px;
        transform: scaleX(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:focus {
        outline: none;
    }

    &:hover &__icon,
    &:focus &__icon {
        transform: scale(1.25, 1.2);
    }
}
